In [0]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)  #to automatically remount make force_remount=True

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [0]:
df=pd.read_csv('/content/gdrive/My Drive/sales.csv')

In [0]:
df.head()
df=df.sort_values(by=['date'])

In [0]:
df.head()

              date  date_block_num  ...     offer_type  color_family
108712  01.01.2013               0  ...            New         Beige
87289   01.01.2013               0  ...  New & Feature         Beige
87267   01.01.2013               0  ...  New & Feature         Beige
50287   01.01.2013               0  ...         Relist          Pink
87254   01.01.2013               0  ...  New & Feature         Beige

[5 rows x 11 columns]

In [0]:
#The LSTM model below is run only for 1 store, but this can be replicated for each store separately.
shop=0
df_item=df[df['shop_id']==shop]
df_item=df_item[['date','shop_id','item_price']]

In [0]:
df_item.shape

(9857, 3)

In [0]:
df_item.sort_values(by=['date'])

              date  shop_id  item_price
181271  01.02.2013        0       657.0
174945  01.02.2013        0       177.0
174935  01.02.2013        0      1590.0
175131  01.02.2013        0       143.0
175392  01.02.2013        0      1321.0
175389  01.02.2013        0      1128.0
175347  01.02.2013        0       242.0
175153  01.02.2013        0        72.0
175283  01.02.2013        0       137.0
175276  01.02.2013        0        63.0
175264  01.02.2013        0      1508.0
173451  01.02.2013        0       247.0
173440  01.02.2013        0        99.0
183112  01.02.2013        0       410.0
181848  01.02.2013        0       293.0
182383  01.02.2013        0       312.0
182351  01.02.2013        0       347.0
182337  01.02.2013        0       247.0
182271  01.02.2013        0       247.0
182187  01.02.2013        0        65.0
175104  01.02.2013        0        36.0
174963  01.02.2013        0       196.0
174976  01.02.2013        0       630.0
175016  01.02.2013        0      1088.0
174780  01.02.2013        0      1040.0
174769  01.02.2013        0      1460.0
174702  01.02.2013        0       942.0
174778  01.02.2013        0      1469.0
174472  01.02.2013        0      2057.0
174407  01.02.2013        0      1995.0
...            ...      ...         ...
43373   31.01.2013        0        69.0
43263   31.01.2013        0       734.0
40525   31.01.2013        0      1723.0
40490   31.01.2013        0      4544.0
43252   31.01.2013        0       110.0
40603   31.01.2013        0       318.0
40776   31.01.2013        0        79.0
43374   31.01.2013        0       100.0
40769   31.01.2013        0       190.0
43346   31.01.2013        0        67.0
40651   31.01.2013        0       246.0
40360   31.01.2013        0       159.0
40832   31.01.2013        0      1321.0
40837   31.01.2013        0       105.0
43448   31.01.2013        0       260.0
40946   31.01.2013        0       734.0
40220   31.01.2013        0      1523.0
40215   31.01.2013        0      1088.0
43452   31.01.2013        0       115.0
40311   31.01.2013        0       177.0
40315   31.01.2013        0      1189.0
40929   31.01.2013        0       190.0
43424   31.01.2013        0       263.0
40337   31.01.2013        0       353.0
40350   31.01.2013        0       154.0
43433   31.01.2013        0        76.0
40283   31.01.2013        0       330.0
40475   31.01.2013        0       471.0
40576   31.01.2013        0       263.0
43759   31.01.2013        0        77.0

[9857 rows x 3 columns]

In [0]:
df_price=pd.DataFrame(columns=['price'],data=df_item['item_price'].values)

In [0]:
df_price.head()

   price
0  657.0
1  657.0
2  231.0
3  190.0
4  190.0

In [0]:
for i in range(1,31):
    df_price["Time_" + str(i)] = df_price.price.shift(i)
df_price.fillna(0.0, inplace=True)

In [0]:
df_price.head(30)

     price  Time_1  Time_2  Time_3  ...  Time_27  Time_28  Time_29  Time_30
0    657.0     0.0     0.0     0.0  ...      0.0      0.0      0.0      0.0
1    657.0   657.0     0.0     0.0  ...      0.0      0.0      0.0      0.0
2    231.0   657.0   657.0     0.0  ...      0.0      0.0      0.0      0.0
3    190.0   231.0   657.0   657.0  ...      0.0      0.0      0.0      0.0
4    190.0   190.0   231.0   657.0  ...      0.0      0.0      0.0      0.0
5   1136.0   190.0   190.0   231.0  ...      0.0      0.0      0.0      0.0
6    242.0  1136.0   190.0   190.0  ...      0.0      0.0      0.0      0.0
7   2258.0   242.0  1136.0   190.0  ...      0.0      0.0      0.0      0.0
8    483.0  2258.0   242.0  1136.0  ...      0.0      0.0      0.0      0.0
9    734.0   483.0  2258.0   242.0  ...      0.0      0.0      0.0      0.0
10   173.0   734.0   483.0  2258.0  ...      0.0      0.0      0.0      0.0
11  2863.0   173.0   734.0   483.0  ...      0.0      0.0      0.0      0.0
12  1906.0  2863.0   173.0   734.0  ...      0.0      0.0      0.0      0.0
13  2060.0  1906.0  2863.0   173.0  ...      0.0      0.0      0.0      0.0
14   200.0  2060.0  1906.0  2863.0  ...      0.0      0.0      0.0      0.0
15  1723.0   200.0  2060.0  1906.0  ...      0.0      0.0      0.0      0.0
16   483.0  1723.0   200.0  2060.0  ...      0.0      0.0      0.0      0.0
17   318.0   483.0  1723.0   200.0  ...      0.0      0.0      0.0      0.0
18   554.0   318.0   483.0  1723.0  ...      0.0      0.0      0.0      0.0
19   242.0   554.0   318.0   483.0  ...      0.0      0.0      0.0      0.0
20  2858.0   242.0   554.0   318.0  ...      0.0      0.0      0.0      0.0
21   219.0  2858.0   242.0   554.0  ...      0.0      0.0      0.0      0.0
22   394.0   219.0  2858.0   242.0  ...      0.0      0.0      0.0      0.0
23   231.0   394.0   219.0  2858.0  ...      0.0      0.0      0.0      0.0
24   221.0   231.0   394.0   219.0  ...      0.0      0.0      0.0      0.0
25    70.0   221.0   231.0   394.0  ...      0.0      0.0      0.0      0.0
26   957.0    70.0   221.0   231.0  ...      0.0      0.0      0.0      0.0
27    70.0   957.0    70.0   221.0  ...    657.0      0.0      0.0      0.0
28    76.0    70.0   957.0    70.0  ...    657.0    657.0      0.0      0.0
29  1296.0    76.0    70.0   957.0  ...    231.0    657.0    657.0      0.0

[30 rows x 31 columns]

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
model_lstm = Sequential()
model_lstm.add(LSTM(15, input_shape=(1,30)))
model_lstm.add(Dense(1))
model_lstm.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [0]:
scaler = MinMaxScaler(feature_range=(0, 1))
df_price = scaler.fit_transform(df_price)
x=df_price[:9000,1:]
y=df_price[:9000,0]
xval=df_price[9000:,1:]
yval=df_price[9000,0]

In [0]:
x_val_reshape = x.reshape((9000,1,30))
val=xval.reshape((df_price.shape[0]-9000,1,30))

In [0]:
history = model_lstm.fit(x_val_reshape,y,epochs=5, batch_size=1, verbose=2, shuffle=False)

Epoch 1/5
 - 59s - loss: 0.0062 - acc: 3.3333e-04
Epoch 2/5
 - 59s - loss: 0.0062 - acc: 3.3333e-04
Epoch 3/5
 - 59s - loss: 0.0062 - acc: 3.3333e-04
Epoch 4/5
 - 59s - loss: 0.0061 - acc: 3.3333e-04
Epoch 5/5
 - 59s - loss: 0.0061 - acc: 3.3333e-04

In [0]:
y_pre = model_lstm.predict(val)
y_pre.shape

(857, 1)

In [0]:
np.printoptions(precision=4)
print(sum((y_pre-yval)**2)/len(y_pre))  #mean square error

[0.00038185]