In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
s=df.isnull().any()

In [0]:
print(s)
df1=df[df['Rating'].isnull()==True]

Cust_Id    False
Rating      True
Date        True
dtype: bool

In [0]:
df1.shape

(4499, 3)

In [0]:
def preprocess(path):
  df=pd.read_csv(path,header=None,names = ['Cust_Id', 'Rating','Date'])
  ls=[]
  df1=df[df['Rating'].isnull()==True]
  cols=list(df1.index)
  m_id=list(df1['Cust_Id'].values)
  for i in range(len(cols)-1):
    c=m_id[i].strip(':')
    c=int(c)
    temp=[c]*(cols[i+1]-cols[i])
    ls.extend(temp)
  c=m_id[len(cols)-1].strip(':')
  c=int(c)
  temp=[c]*(df.shape[0]-cols[len(cols)-1])
  ls.extend(temp)
  df['movie_id']=ls
  df_final=df.drop(cols,axis=0)
  return df_final

In [0]:
df_1=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_1.txt.zip')

In [0]:
df_1.head()

   Cust_Id  Rating        Date  movie_id
1  1488844     3.0  2005-09-06         1
2   822109     5.0  2005-05-13         1
3   885013     4.0  2005-10-19         1
4    30878     4.0  2005-12-26         1
5   823519     3.0  2004-05-03         1

In [0]:
df_2=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_2.txt.zip')

In [0]:
df_2.head()

   Cust_Id  Rating        Date  movie_id
1  2532865     4.0  2005-07-26      4500
2   573364     3.0  2005-06-20      4500
3  1696725     3.0  2004-02-27      4500
4  1253431     3.0  2004-03-31      4500
5  1265574     2.0  2003-09-01      4500

In [0]:
df_3=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_3.txt.zip')

In [0]:
df_3.head()

   Cust_Id  Rating        Date  movie_id
1  1277134     1.0  2003-12-02      9211
2  2435457     2.0  2005-06-01      9211
3  2338545     3.0  2001-02-17      9211
4  2218269     1.0  2002-12-27      9211
5   441153     4.0  2002-10-11      9211

In [0]:
df_4=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_4.txt.zip')

In [0]:
df_4.head()

   Cust_Id  Rating        Date  movie_id
1  2385003     4.0  2004-07-08     13368
2   659432     3.0  2005-03-16     13368
3   751812     2.0  2002-12-16     13368
4  2625420     2.0  2004-05-25     13368
5  1650301     1.0  2005-08-30     13368

In [0]:
print(df_1.shape,df_2.shape,df_3.shape,df_4.shape)

(24053764, 4) (26977591, 4) (22601629, 4) (26847523, 4)

In [0]:
d=df_1.sort_values(by=['Date'])

In [0]:
d.head(30)

          Cust_Id  Rating        Date  movie_id
9057969    510180     5.0  1999-11-11      1798
14895543   510180     3.0  1999-11-11      2866
19589582   510180     4.0  1999-11-11      3730
20397788   510180     2.0  1999-11-11      3870
6902840    510180     5.0  1999-11-11      1367
15347487   510180     3.0  1999-12-06      2948
17856999   510180     3.0  1999-12-06      3421
13153317   510180     3.0  1999-12-06      2478
8031305    122223     3.0  1999-12-08      1615
14347045   122223     3.0  1999-12-08      2780
6886297    122223     3.0  1999-12-08      1367
3235221    122223     4.0  1999-12-08       607
6124347    122223     4.0  1999-12-08      1202
20495135   122223     3.0  1999-12-08      3893
22137024   122223     3.0  1999-12-08      4171
20391312   204439     5.0  1999-12-09      3870
22286027  1972971     4.0  1999-12-09      4227
8882124    204439     4.0  1999-12-09      1770
6884528    204439     4.0  1999-12-09      1367
6753535    204439     3.0  1999-12-09      1309
18454227   204439     3.0  1999-12-09      3535
16178629  1972971     3.0  1999-12-09      3148
14345691   204439     1.0  1999-12-09      2780
1860034    204439     3.0  1999-12-09       344
15081044   204439     4.0  1999-12-09      2902
16177835   204439     5.0  1999-12-09      3148
11400821  1972971     2.0  1999-12-09      2178
254777    1972971     1.0  1999-12-09        55
11757117   204439     3.0  1999-12-09      2252
22595276   204439     3.0  1999-12-09      4271

In [0]:
l2=list(((df_final['Rating'].value_counts().values)/df_final.shape[0])*100)

In [0]:
l=list(d['Date'].values)

In [0]:
g=[x[:4] for x in l]

In [0]:
print(g[:4])
from collections import Counter
dct=Counter(g)

['1999', '1999', '1999', '1999']

In [0]:
dct['2001']

370691

In [0]:
print(templist)

['1999-11-11', '1999-11-11', '1999-11-11', '1999-11-11', '1999-11-11', '1999-12-06', '1999-12-06', '1999-12-06', '1999-12-08', '1999-12-08']

In [0]:
l1=list(df_final['Rating'].value_counts().index)

In [0]:
d=dict(zip(l1,l2))
df_final['Rating'].value_counts()
print(l1,l2)

[4.0, 3.0, 5.0, 2.0, 1.0] [33.615283662049734, 28.70312105830921, 22.892812118718716, 10.140088678013138, 4.648694482909202]

In [0]:
d[4]

33.615283662049734

In [0]:
movie_names=pd.read_csv('/content/gdrive/My Drive/Reccommendation System/movie_titles.csv',header=None,usecols=[0,1,2,3])

In [0]:
movie_names.head()

   0       1                             2    3
0  1  2003.0               Dinosaur Planet    1
1  2  2004.0    Isle of Man TT 2004 Review  NaN
2  3  1997.0                     Character  NaN
3  4  1994.0  Paula Abdul's Get Up & Dance  NaN
4  5  2004.0      The Rise and Fall of ECW  NaN

In [0]:
not_rows=movie_names[3][movie_names[3].isnull()==False]

In [0]:
l=list(not_rows.index)

In [0]:
l=l[1:]

In [0]:
l[0]

71

In [0]:
for x in l:
  movie_names.iloc[x,2]=  movie_names.iloc[x,2]+ ','+ movie_names.iloc[x,3]

In [0]:
movie_names.iloc[l,2].values

array(['At Home Among Strangers, A Stranger Among His Own',
       'Angelina Ballerina: Lights, Camera',
       'Dr. Quinn, Medicine Woman: Season 3',
       'Still, We Believe: The Boston Red Sox Movie',
       '20,000 Leagues Under the Sea', 'Doogie Howser, M.D.: Season 2',
       'Jo Jo Dancer, Your Life is Calling', "What's Up, Tiger Lily?",
       'He Loves Me, He Loves Me Not', 'He Said, She Said',
       'Fast Food, Fast Women', "Dr. Seuss's The 5,000 Fingers of Dr. T",
       "C'est La Vie, Mon Cheri",
       'Niagara: Miracles, Myths & Magic: IMAX',
       "Zakk Wylde's Black Label Society: Boozed, Broozed & Broken-Boned",
       'Dead Kennedys: In God We Trust, Inc.',
       'Brother, Can You Spare a Dime?',
       'Dr. Martin Luther King, Jr.: A Historical Perspective',
       'Sesame Street: Sing, Hoot & Howl',
       'Dr. Quinn, Medicine Woman: Season 5', 'Play it Again, Sam',
       'Vendetta: No Conscience, No Mercy', 'Truth or Consequences, N.M.',
       'Zorro, The Gay Blade', 'Welcome Back, Mr. McDonald',
       'Suze Orman: The Laws of Money, Lessons of Life',
       "AFI's 100 Years, 100 Movies",
       'Sesame Street: 1-2-3, Count with Me',
       'Eric Clapton: One More Car, One More Rider',
       'I Love You, I Love You Not',
       'Yes, Prime Minister: The Complete Collection', 'Kiss Me, Kate',
       'Love Me, Love My Money', "It's Me, the Thief",
       'Earth, Wind & Fire in Concert',
       'VeggieTales: Esther, the Girl Who Became Queen',
       'Lock, Stock and Two Smoking Barrels', 'Sex, Secrets',
       'Dancer, Texas', 'Shanghai, Shanghai',
       'Harvey Birdman, Attorney at Law: Vol. 1',
       'Planes, Trains and Automobiles',
       'Baby Einstein: On the Go: Riding, Sailing and Soaring',
       'Dragon Tales: Yes, We Can!',
       'Now and Then, Here and There: Vol. 1: Discord and Doom',
       'Empires: The Medici, Godfathers of the Renaissance',
       'A Girl, 3 Guys and a Gun', 'Where Angels Go, Trouble Follows',
       'Imitation of Life: Double Feature (1934, 1959)',
       'Secrets of Angels, Demons & Masons', 'I, Madman',
       'Now and Then, Here and There: Vol. 2: Flight and Fall',
       'Fast, Cheap & Out of Control',
       "Rugrats All Grown Up: Dude, Where's My Horse?",
       'Upstairs, Downstairs: Season 3', 'Dirty Tiger, Crazy Frog',
       'Fist of Fear, Touch of Death',
       'Yes, Minister: Complete Collection', 'Enemies, A Love Story',
       'Rage: 20 Years of Punk Rock, West Coast Style',
       'The Godfather, Part II',
       'Warren Miller: Bloopers, Blunders and Bailouts',
       'Goodbye South, Goodbye', 'Hi, Mom!',
       'U2: Go Home: Live From Slane Castle, Ireland',
       'I Spit on Your Corpse, I Piss on Your Grave',
       'Hush...Hush, Sweet Charlotte', 'Be Good, Smile Pretty',
       'Elvira, Mistress of the Dark', 'Bright Lights, Big City',
       'The Russians Are Coming, The Russians Are Coming',
       'S.W.A.T.: L.A., Las Vegas', 'Dr. Quinn, Medicine Woman: Season 2',
       'Come Back, Little Sheba', 'Ilsa, Harem Keeper of the Oil Sheiks',
       'Ranma 1/2: Ranma Forever: Vol. 8: Someday, Somehow',
       'Mary, Mother of Jesus', 'Tarzan, the Ape Man',
       'VeggieTales Classics: Rack, Shack and Benny', 'Double, Double',
       'John McLaughlin, Larry Coryell and Paco De Lucia: Meeting of the Spirits',
       'Jimmy Timmy Power Hour: Jimmy Neutron, Boy Genius / The Fairly Oddparents',
       'Drive Well, Sleep Carefully: On the Road with Death Cab for Cutie',
       'Modern Warfare: The Six Day War, Yom Kippur War',
       'Best of Travels in Europe with Rick Steves: Greece, Turkey',
       'The Beatles: Washington D.C. Feb. 11th,1964',
       'Walker, Texas Ranger: The Final Season',
       'Clifford: Look Out, Clifford! / Big Fun in the Sun',
       'Goodbye, Mr. Chips', 'Pretty Village, Pretty Flame',
       'Skinny Tiger, Fatty Dragon',
       'Chicago with Earth, Wind & Fire: Live at the Greek Theatre',
       'Mystery, Alaska', 'Girl, Interrupted',
       "Elmo's World: Families, Mail & Bath Time",
       'Usher: Rhythm City: Vol. 1: Money, Power',
       'Chuck Jones: Extremes and in Betweens, a Life in Animation',
       'I, Robot', 'See No Evil, Hear No Evil',
       'Best of Travels in Europe with Rick Steves: Germany, Austria & Switzerland',
       'Earth, Wind & Fire: Live in Japan', 'Sexo, Pudor y Lagrimas',
       "Dude, Where's My Car?", 'Upstairs, Downstairs: Season 4',
       'The Godfather, Part III', 'I, the Worst of All', 'Tinker, Tailor',
       'Other Voices, Other Rooms', 'Baby Songs: ABC,123',
       "It's a Mad, Mad", "Don't Raise the Bridge, Lower the River",
       'The Adventures of Priscilla, Queen of the Desert',
       'South Park: Ghouls, Ghosts and Underpants Gnomes',
       'I Spy: Vol. 20: So Long, Patrick Henry', 'Good Morning, Vietnam',
       'Van Halen Live: Right Here, Right Now',
       'Honey, We Shrunk Ourselves', 'Paris, France', 'Get Smart, Again!',
       'Quincy, M.E.: Seasons 1 & 2', 'Ciao, Professore!',
       'Sublime: Stories, Tales', "It's the Pied Piper, Charlie Brown",
       'On Any Sunday: Motocross, Malcolm and More',
       'ABC News Presents: Jesus, Mary and Da Vinci', 'I, Zombie',
       'Jamie Foxx Unleashed: Lost, Stolen and Leaked!',
       'South of Heaven, West of Hell', 'Good Times, Bed Times',
       'CKY: Infiltrate, Destroy', 'O Brother, Where Art Thou?',
       'Video Visits: Merida, Cancun and Belize',
       'Hans Brinker, or the Silver Skates',
       'Ladies and Gentlemen, Mr. Leonard Cohen', 'Easy Come, Easy Go',
       'Monsters, Inc.: Bonus Material', 'A Man, a Plan',
       "He's a Woman, She's a Man", 'Remember Me, My Love',
       'Bill Hicks Live: Satirist, Social Critic',
       "Hallelujah, I'm a Bum", 'Earth, Wind & Fire: Live by Request',
       'The Long, Hot Summer',
       'VeggieTales: Bible Heroes: Lions, Shepherds and Queens',
       'Satyam, Shivam', 'Blood, Guts',
       "It's the Great Pumpkin, Charlie Brown",
       'Manon of the Spring (Jean de Florette, Part II)', 'Ashtanga, NY',
       'Doogie Howser, M.D.: Season 1', 'The Good, the Bad and the Ugly',
       'Murder, She Wrote: Season 1',
       'Godzilla, Mothra and King Ghidorah: Giant Monsters All Out Attack',
       'Johnny Cash: At Town Hall Party, 1958 & 1959',
       "God is Great, I'm Not",
       'Crosby, Stills & Nash: The Acoustic Concert',
       'Mother, Jugs and Speed', 'Johnny Cash: The Man, His World',
       'Hello, Dolly!', 'My Schoolmate, the Barbarian',
       'Wake Up, Ron Burgundy',
       'The Good, the Bad and the Beautiful / The Bikini Academy: Double Feature',
       'Go, Go', 'Murder, My Sweet', 'Like Father, Like Son',
       'Bobby Jones, Stroke of Genius',
       'Bikini Bandits: Briefs, Shorts & Panties',
       'Lucinda Williams: Live from Austin, TX',
       'Dirty Mary, Crazy Larry', '20,000 Leagues Under the Sea',
       'I, Claudius', 'My Father, My Mother', 'A Gun, a Car',
       'A Cool, Dry Place', 'Blood In, Blood Out',
       'Lucy Must Be Traded, Charlie Brown',
       "Caroline Myss, Ph.D.: Why People Don't Heal / Three Levels of Power",
       'The Magic School Bus: Bugs, Bugs',
       "Elmo's World: Elmo Has Two! Hands, Ears & Feet",
       'To Wong Foo, Thanks for Everything! Julie Newmar',
       'Dr. Quinn, Medicine Woman: Season 6', "Dude, Where's the Party?",
       'Cheating Death, Stealing Life: The Eddie Guerrero Story',
       'Upstairs, Downstairs: Season 5', 'Upstairs, Downstairs: Season 2',
       'Good Night, Gorilla', 'Truly, Madly', 'Sgt. Kabukiman, N.Y.P.D.',
       'Count Yorga, Vampire',
       'The Kennel Murder Case / Nancy Drew, Reporter: Double Feature',
       'Kipper: Pools, Parks & Picnics', 'Babar, King of the Elephants',
       'Picasso: Magic, Sex', 'The Cook, the Thief', 'Oh, God! Book II',
       'National Geographic: Guns, Germs and Steel',
       'Easy Riders, Raging Bulls', 'I, A Woman',
       'White Hunter, Black Heart', 'Goodbye, Mr. Chips',
       'Monsters, Inc.', '20,000 Leagues Under the Sea',
       'Live at Knebworth: Parts One, Two & Three',
       'Honey, I Shrunk the Kids', 'New York, New York',
       'Sesame Street: A Celebration of Me, Grover!',
       "Now You See Him, Now You Don't",
       'Indigo Girls: Live at the Fillmore, Denver',
       'Kids in the Hall: Same Guys, New Dresses',
       'Six Days, Seven Nights',
       'Another State of Mind: Social Distortion, Youth Brigade and Minor Threat',
       'Sizzle Beach, USA', 'Heaven Knows, Mr. Allison',
       'Love, Honor and Obey',
       "Sesame Street: Elmo's World: Food, Water & Exercise!",
       'The Magic School Bus: Creepy, Crawly Fun', 'One, Two',
       'Black Mama, White Mama', 'Scotland, PA',
       'Quick Toning: Abs, Arms & Lower Body of Steel',
       'Run Silent, Run Deep', 'DeJohnette, Hancock',
       'The Wonderful, Horrible Life of Leni Riefenstahl',
       'Dr. Quinn, Medicine Woman: Season 1',
       'Sesame Street: Babies, Dogs & More', 'Eerie, Indiana',
       'Upstairs, Downstairs: Season 1',
       'The Three Stooges: Healthy, Wealthy and Dumb', 'Vernon, Florida',
       'Hi, Dharma!', "What's Up, Doc?",
       'Great People of the Bible: Abraham, Sarah',
       'Love, Sex & Eating the Bones', 'Mitr, My Friend',
       'Sorry, Wrong Number', 'Sheba, Baby', 'Yours, Mine and Ours',
       'Scream, Blacula', 'Thelonious Monk: Straight, No Chaser',
       'Britney Baby, One More Time', 'The Toxic Avenger, Part 3',
       'The 1,000 Eyes of Dr. Mabuse', 'Brother Sun, Sister Moon',
       'Ilsa, the Wicked Warden', 'Motley Crue: Lewd, Crued & Tattooed',
       'Sedona, The Spirit of Wonder: IMAX', 'Langrishe, Go Down',
       'Jasper, Texas',
       'Dracula, Dirty Old Man / Guess What Happened to Count Dracula',
       'Bob the Builder: Dig, Lift', 'House, M.D.: Season 1',
       'Car 54, Where Are You?', 'Suddenly, Last Summer',
       'Perfect Murder, Perfect Town', 'Steal Big, Steal Little',
       'Zone of the Enders: Dolores, i', 'Goodbye, Columbus',
       'To Sir, with Love', 'Sex, Politics & Cocktails',
       'Bodies, Rest & Motion', 'Faraway, So Close!', 'Kiss Me, Stupid',
       '10,000 Black Men Named George', 'Spring, Summer',
       "Sesame Street: Elmo's World: Birthdays, Games & More",
       'Paris, Texas', 'The Good, the Bad and the Ugly: Bonus Material',
       'Stevie Ray Vaughan and Double Trouble: Live from Austin, Texas',
       'Best of MADtv: Seasons 8, 9 and 10',
       "Changing Rooms: Trust Me, I'm a Designer",
       'South Park: Bigger, Longer and Uncut',
       'Jazz Casual: Basie, Gillespie',
       'New Crouching Tiger, Hidden Dragon', "Walk, Don't Run",
       'Tarzan, the Ape Man / Tarzan Escapes (Double Feature)',
       'Cry, the Beloved Country', 'He Say, She Say',
       'Play to Win: Secrets of Playing Slots, Blackjack & Craps',
       "Stan Lee's Mutants, Monsters & Marvels",
       'The Beast from 20,000 Fathoms', 'Steamboat Bill, Jr.',
       'Bear in the Big Blue House: Shapes, Sounds & Colors with Bear',
       'Martha, Inc.', "Samurai X: Trust and Betrayal, Director's Cut",
       'Now and Then, Here and There: Vol. 3: Conflict and Chaos',
       'Dave Matthews Band: Live at Folsom Field Boulder, Colorado',
       'Cornbread, Earl and Me',
       'God, the Devil & Bob: The Complete Series', 'sex, lies',
       'Aloha, Bobby and Rose', 'Keep the Faith, Baby',
       'Judy, Frank and Dean: Once in a Lifetime',
       'Legally Blonde 2: Red, White & Blonde', 'Objective, Burma!',
       'The One and Only, Genuine', 'The Toxic Avenger, Part 2',
       'Milwaukee, Minnesota', 'Same Time, Next Year',
       'Always Outnumbered, Always Outgunned',
       'Emerson, Lake & Palmer: Welcome Back',
       "Don't Ask, Don't Tell (Attack of the Gay Space Invaders)",
       'Bellydance Fitness for Beginners: Arms, Abs',
       'Greystoke: The Legend of Tarzan, Lord of the Apes',
       'Dr. Quinn, Medicine Woman: Season 4', 'Frank McKlusky, C.I.',
       'Crouching Tiger, Hidden Dragon', "AFI's 100 Years, 100 Stars",
       'Ilsa, She Wolf of the SS', 'Good Bye, Lenin!',
       'Earth, Wind and Fire: Live', 'Late August, Early September',
       'Honey, I Blew Up the Kid', 'House of 1,000 Corpses',
       'Alanis Morissette: Jagged Little Pill, Live',
       'Divorce, Italian Style', 'Hey, Happy!', 'Aelita, Queen of Mars',
       'Follow Me, Boys!', 'Corrina, Corrina', 'Happy, Texas',
       'Paradise, Hawaiian Style', 'Bell, Book and Candle',
       'Shake, Rattle & Rock', 'The Three Stooges: Stop, Look and Laugh',
       'Good Men, Good Women', 'The Hot, The Cool and the Vicious',
       'Dennis Miller - Live from Washington, D.C.',
       'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
       "I Love You, Don't Touch Me", 'Be My Valentine, Charlie Brown',
       'Me, Myself & Irene', 'Read-Along: Monsters, Inc.',
       "It's the Easter Beagle, Charlie Brown", 'Fort Apache, the Bronx',
       "They Shoot Horses, Don't They?",
       'Into the Thin Air of Everest: Mountain of Dreams, Mountain of Doom'],
      dtype=object)

In [0]:
movie_names=movie_names.drop([3],axis=1)

In [0]:
movie_names.iloc[71]

0                                                   72
1                                                 1974
2    At Home Among Strangers, A Stranger Among His Own
Name: 71, dtype: object

In [0]:
!pip install surprise
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise import accuracy

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)

In [0]:
df_rec=df_1[['Cust_Id','movie_id','Rating']]

In [0]:
df_1.shape

(24053764, 4)

In [0]:
reader = Reader()
svd = SVD()
data=Dataset.load_from_df(df_rec[:100000],reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0597  1.0484  1.0533  1.0483  1.0543  1.0528  0.0042
MAE (testset)     0.8435  0.8281  0.8384  0.8380  0.8417  0.8379  0.0053
Fit time          5.43    5.41    5.36    5.51    5.43    5.43    0.05
Test time         0.14    0.22    0.15    0.23    0.15    0.17    0.04

{'fit_time': (5.4275078773498535,
  5.40898871421814,
  5.355102777481079,
  5.505940675735474,
  5.431199550628662),
 'test_mae': array([0.84347828, 0.82808636, 0.83842089, 0.83798478, 0.84167935]),
 'test_rmse': array([1.05968167, 1.04837421, 1.0532833 , 1.04832633, 1.05430221]),
 'test_time': (0.14088797569274902,
  0.21642541885375977,
  0.14550375938415527,
  0.22505712509155273,
  0.1454164981842041)}

In [0]:
traindata=Dataset.load_from_df(df_rec[:200000],reader)
traindata=traindata.build_full_trainset()
svd.fit(traindata)

In [0]:
uid=df_2[df_2['Cust_Id']==510180]


svd.predict(510180,1).est

3.863991588594712

In [0]:
df_rec=    df_rec[:20000]
ls1=df_rec['Cust_Id'].values
ls2=df_2['Cust_Id'].values

In [0]:
ls2.shape
ls1.shape

(24053764,)

In [0]:
df_2['Rating'].isnull().any()

False

In [0]:
import numpy as np
cmn=np.intersect1d(ls1,ls2)

In [0]:

actual_array=df_2[df_2['Cust_Id'].isin(cmn)]

In [0]:
actual_array=actual_array['Rating'].values

10        NaN
1000004   NaN
1000027   NaN
1000033   NaN
1000035   NaN
1000038   NaN
1000051   NaN
1000057   NaN
100006    NaN
1000062   NaN
Name: Rating, dtype: float64

In [0]:
uid.shape

(0, 4)

In [0]:
testset = traindata.build_anti_testset()
predictions = svd.test(testset)

NameError: ignored

In [0]:
print(predictions[:10])

[Prediction(uid='1488844', iid=2, r_ui=3.647685, est=3.9342207858627463, details={'was_impossible': False}), Prediction(uid='1488844', iid=3, r_ui=3.647685, est=4.096366002826722, details={'was_impossible': False}), Prediction(uid='1488844', iid=4, r_ui=3.647685, est=2.6200598803566195, details={'was_impossible': False}), Prediction(uid='1488844', iid=5, r_ui=3.647685, est=4.342852343170405, details={'was_impossible': False}), Prediction(uid='1488844', iid=6, r_ui=3.647685, est=2.7433884504147454, details={'was_impossible': False}), Prediction(uid='1488844', iid=7, r_ui=3.647685, est=2.3334821381350395, details={'was_impossible': False}), Prediction(uid='1488844', iid=9, r_ui=3.647685, est=2.5247397881607005, details={'was_impossible': False}), Prediction(uid='1488844', iid=10, r_ui=3.647685, est=3.18099204464715, details={'was_impossible': False}), Prediction(uid='1488844', iid=11, r_ui=3.647685, est=3.245238744343052, details={'was_impossible': False}), Prediction(uid='1488844', iid=12, r_ui=3.647685, est=3.525604478810273, details={'was_impossible': False})]

In [0]:
accuracy.rmse(predictions)

RMSE: 0.6224

0.6224425849454069

In [0]:
movie_list=pd.read_csv('/content/gdrive/My Drive/merged.csv')

In [0]:
movie_list.shape

(12662, 42)

In [0]:
movie_list=movie_list.iloc[:,3:]

In [0]:
movie_list.head()

                                              actors  ...        year
0                    Christian Slater, Scott Sampson  ...  2003
1  Jan Decleir, Fedja van Hut, Betty Schuurma...  ...        1997
2  Alan Breck, Joanna Alexander, Michael Selwood,...  ...        2007
3  Kai Shishido, Etsushi Takahashi, Sachiko Ayase...  ...        1992
4  Semra Turan, Nima Nabipour, Cyron Melville, Mo...  ...        2007

[5 rows x 39 columns]

In [0]:
movie_list['movie_id']

0            1.0
1            3.0
2            6.0
3            7.0
4           10.0
          ...
12657    17692.0
12658    17693.0
12659    17694.0
12660    17695.0
12661    17697.0
Name: movie_id, Length: 12662, dtype: float64